.bg-primary-hue {
	background-color: var(--primary-hue);
}
.bg-primary-hue:active,
.bg-primary-hue:focus {
	background-color: var(--primary-shade);
}

.bg-secondary-hue {
    background-color: var(--secondary-hue);
}
.bg-secondary-hue:active,
.bg-secondary-hue:focus {
	background-color: var(--secondary-shade);
}

.bg-secondary-tint {
	background-color: var(--secondary-tint);
}
.bg-primary-tint {
    background-color: var(--primary-tint);
}