.button {
	outline: none;
	border: none;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 5px 7px;
	gap: 5px;
	border-radius: 3px;

	color: var(--primary-hue);
	fill: var(--primary-hue);
	font-size: var(--text-small);
}

.button:is(:hover, :active) {
	box-shadow: var(--unable-shadow);
}

.button.btn-default {
	background-color: var(--secondary-hue);
}

.button.btn-commit {
	background-color: var(--tertiary-hue);
}

.button.disabled {
	color: var(--secondary-hue);
	fill: var(--secondary-hue);
	box-shadow: none;
}
