.collapse {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 7px 14px;

	width: 300px;
	width: 100%;
	height: 35px;

	border: 1px solid var(--primary-shade);
	color: var(--secondary-hue);
	fill: var(--secondary-hue);
	box-shadow: var(--from-top-shadow);
}

.collapse .left {
	display: flex;
	flex-direction: row;
	align-items: center;
	font-size: var(--text-wide);
	gap: 10px;
}

.collapse .right {
	color: var(--secondary-tint);
	font-size: var(--text-small);
}

.collapse .left svg,
.collapse .left i {
	width: 13px;
	height: 7px;
}
