:root {
	--primary-hue: #fff;
	--secondary-hue: #4b4b4b;
	--tertiary-hue: #f83d3d;

	--primary-shade: #c7c7c7;
	--secondary-shade: #262626;
	--tertiary-shade: #a02929;

	--primary-tint: #fff;
	--secondary-tint: #7b7b7b;
	--tertiary-tint: #ff6363;

	--primary-tone: #d6d6d6;
	--secondary-tone: #393939;
	--tertiary-tone: #b54949;

	--invalid: red;
}
