
.input {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 4px 5px;

	max-width: 120px;
	height: 23px;

	background-color: var(--primary-hue);

	border: 1px solid var(--primary-shade);
	border-radius: 3px;
	font-size: var(--text-small);
	outline: none;
}
.input,
.input *,
.input.input-search input {
	transition: border 0.1s, box-shadow 0.1s, outline 0.1s, color 0.1s;
}

.input.input-search {
	--max-width: 220px;
	border: none;
	padding: 0;
	display: flex;
	justify-content: flex-end;
	gap: 5px;
	position: relative;
	max-width: none;
	width: fit-content;
	transition: width 0.5s;
}
.input.input-search input {
	border-radius: 3px;
	padding-left: 22px;
	border: 1px solid var(--primary-shade);
	outline: none;
	height: 23px;
	width: 120px;
	font-size: var(--text-small);
	transition: width 0.2s;
}
.input.input-search i,
.input.input-search svg {
	pointer-events: none;
	position: absolute;
	color: var(--primary-shade);
	fill: var(--primary-shade);
	left: 5px;
	width: 13px;
	height: 13px;
}

.input:focus,
.input:not(:placeholder-shown),
.input.input-search input:focus,
.input.input-search input:not(:placeholder-shown),
.input.input-search input:focus + i,
.input.input-search input:not(:placeholder-shown) + i,
.input.input-search input:focus + svg,
.input.input-search input:not(:placeholder-shown) + svg {
	color: var(--secondary-hue);
	fill: var(--secondary-hue);
	border-color: var(--secondary-hue);
}
.input.input-search input:focus,
.input.input-search input:not(:placeholder-shown) {
	width: var(--max-width);
}

.input:focus,
.input.input-search input:focus {
	box-shadow: var(--unable-shadow);
}

.input.invalid {
	color: var(--invalid);
	fill: var(--invalid);
	border-color: var(--invalid);
	box-shadow: var(--invalid-shadow);
}

.select {
	outline: none;
}
