.list {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-top: -10px;
	padding: 10px;
	gap: 10px;
	width: 100%;
	box-shadow: var(--unable-shadow-soft);
	border-radius: 3px;
	background-color: var(--background-color);
	max-height: 300px;
}
.list * {
	color: var(--color);
	stroke: var(--color);
}
.list header {
	display: flex;
	justify-content: space-between;
	width: 100%;
	align-items: center;
}
.list .close-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}
.list .close-btn::before {
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	padding: 7px;
	transition: padding 0.1s;
	border-radius: 3rem;
}
.list .close-btn:hover::before {
	background: #5551;
}
.list .close-btn:active::before {
	padding: 9px;
	background: #1113;
}
.list hr {
	width: 100%;
	border: none;
	border-top: 1px solid var(--color);
}

.list.list-default {
	--color: var(--secondary-hue);
	--background-color: var(--primary-hue);
}
.list.list-dark {
	--color: var(--primary-hue);
	--background-color: var(--secondary-hue);
}
.list.list-danger {
	--color: var(--primary-hue);
	--background-color: var(--tertiary-hue);
}
.list ul {
	width: 100%;
	padding-left: 15px;
	padding-right: 5px;
	overflow: auto;
}
.list ul li {
	list-style-type: disc;
	width: 100%;
}
.list ul li + li {
	margin-top: 5px;
}
.list ul li div {
	display: flex;
	justify-content: space-between;
}

.list .result .label {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.list .result:first-of-type {
	list-style-type: none;
	text-decoration: underline;
}
.list .result .identifier {
	min-width: 70px;
	text-align: right;
}
