@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

@import 'backgrounds.css';
@import 'buttons.css';
@import 'collapses.css';
@import 'colors.css';
@import 'highlights.css';
@import 'inputs.css';
@import 'separators.css';
@import 'shadows.css';
@import 'texts.css';
@import 'wrappers.css';
@import 'rows.css';
@import 'lists.css';

* {
	font-family: 'Poppins', sans-serif;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

*::-webkit-scrollbar {
	width: 5px;
	border-radius: 5px;
}

*::-webkit-scrollbar-track {
	background-color: #9992;
	border-radius: 7px;
}

*::-webkit-scrollbar-thumb {
	background-color: #9999;
	border-radius: 7px;
}

html {
	font-size: var(--text-small);
}
