.feature-row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 2px 7px 2px 25px;
}
.feature-row.centered {
	justify-content: center;
}
.feature-row.to-right {
	justify-content: flex-end;
}
.feature-row > p {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.feature-row p:nth-child(2){
	max-width: 100px;
}
