.separator {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
	padding: 3px;

	width: 300px;
	width: 100%;
	height: 21px;

	background: linear-gradient(
		270deg,
		#c7c7c7 -5.83%,
		rgba(199, 199, 199, 0) 103%
	);
}
