:root {
	--unable-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.25);
	--unable-shadow-soft: 0px 0px 3px 1px rgba(0, 0, 0, 0.25);
	--invalid-shadow: 0px 0px 5px 1px rgba(255, 0, 0, 0.25);
	--from-top-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.unable-shadow {
	box-shadow: var(--unable-shadow);
}
.from-top-shadow {
	box-shadow: var(--from-top-shadow);
}
