:root {
	--text-wide: 15px;
	--text-default: 13px;
	--text-small: 11px;
}

.text-wide {
	font-size: var(--text-wide);
}
.text-default {
	font-size: var(--text-default);
}
.text-small {
	font-size: var(--text-small);
}

.text-primary {
	color: var(--primary-hue);
}
.text-secondary {
	color: var(--secondary-hue);
}
.text-tertiary {
	color: var(--tertiary-hue);
}
