<!DOCTYPE html>
<html>
	<head>
		<base target="_top" />
		<?!= HtmlService.createHtmlOutputFromFile('Stylesheet').getContent(); ?>

		<meta
			name="viewport"
			content="initial-scale=1, maximum-scale=1, user-scalable=no"
		/>
		<!-- <link rel="stylesheet" href="css/main.css" /> -->
	</head>
	<body>
		<div v-scope>
			<!-- <div
			v-scope
			style="width: 300px; float: right; border-left: 1px solid #3333"
		> -->
			<section>
				<div v-scope="RefreshProperty()">
					<div @vue:mounted="mounted" class="collapse">
						<div class="left">
							<svg
								viewBox="0 0 13 7"
								xmlns="http://www.w3.org/2000/svg"
							>
								<path
									d="M6.48522 6.43284C5.96146 6.43284 5.43771 6.23082 5.04115 5.83426L0.162739 0.955858C-0.0542463 0.738872 -0.0542463 0.379724 0.162739 0.162739C0.379724 -0.0542463 0.738873 -0.0542463 0.955858 0.162739L5.83427 5.04114C6.19342 5.40029 6.77703 5.40029 7.13618 5.04114L12.0146 0.162739C12.2316 -0.0542463 12.5907 -0.0542463 12.8077 0.162739C13.0247 0.379724 13.0247 0.738872 12.8077 0.955858L7.9293 5.83426C7.53274 6.23082 7.00898 6.43284 6.48522 6.43284Z"
								/>
							</svg>
							<p>Properties</p>
						</div>
						<p class="right">{{currentPropertyID}}</p>
					</div>
					<div class="separator">
						<p>Property information</p>
					</div>
					<div class="features-wrapper">
						<div class="feature-row">
							<p class="text-secondary">Value</p>
							<p class="highlighted" :title="currentPropertyID">
								{{currentPropertyID}}
							</p>
						</div>
						<div class="feature-row">
							<p class="text-secondary">Label</p>
							<p
								class="highlighted"
								:title="currentPropertyLabel"
							>
								{{currentPropertyLabel}}
							</p>
						</div>
					</div>
				</div>
				<div class="separator">
					<p>Search Property</p>
				</div>
				<div class="features-wrapper" v-scope="SearchProperty()">
					<div class="feature-row centered">
						<div class="input input-search">
							<input
								v-model="entity"
								@input="searchResults"
								type="text"
								placeholder="property label"
							/>
							<svg
								viewBox="0 0 13 13"
								xmlns="http://www.w3.org/2000/svg"
							>
								<path
									d="M12.1383 10.8748L9.80143 8.53828C9.69595 8.43282 9.55297 8.37423 9.40296 8.37423H9.0209C9.66782 7.54697 10.0522 6.50644 10.0522 5.37452C10.0522 2.68182 7.87004 0.5 5.17687 0.5C2.4837 0.5 0.301514 2.68182 0.301514 5.37452C0.301514 8.06723 2.4837 10.249 5.17687 10.249C6.30898 10.249 7.34969 9.86471 8.17709 9.2179V9.59989C8.17709 9.74988 8.23569 9.89283 8.34116 9.99829L10.6781 12.3348C10.8984 12.5551 11.2547 12.5551 11.4726 12.3348L12.136 11.6716C12.3563 11.4513 12.3563 11.0951 12.1383 10.8748ZM5.17687 8.37423C3.51972 8.37423 2.17665 7.03374 2.17665 5.37452C2.17665 3.71765 3.51737 2.37482 5.17687 2.37482C6.83402 2.37482 8.17709 3.71531 8.17709 5.37452C8.17709 7.03139 6.83637 8.37423 5.17687 8.37423Z"
								/>
							</svg>
						</div>
					</div>
					<div
						v-if="entity!='' && resultsVisible"
						class="feature-row"
					>
						<article class="list list-default">
							<header>
								<h3>Search Result</h3>
								<span class="close-btn" @click="hideResults">
									<svg
										width="13"
										height="13"
										viewBox="0 0 13 13"
										xmlns="http://www.w3.org/2000/svg"
									>
										<line
											x1="1.03988"
											y1="11.9497"
											x2="11.6465"
											y2="1.34313"
										/>
										<line
											x1="1.74699"
											y1="1.34313"
											x2="12.3536"
											y2="11.9497"
										/>
									</svg>
								</span>
							</header>
							<hr />
							<ul>
								<li class="result">
									<div class="entity">
										<span class="label">Label</span>
										<span class="identifier"
											>Identifier</span
										>
									</div>
								</li>
								<li v-for="entity in entities" class="result">
									<div
										class="entity"
										:title="entity.description || 'no description'"
										@click="navigator.clipboard.writeText(entity.id)"
									>
										<span
											class="label"
											:title="entity.label"
											>{{entity.label}}
										</span>
										<span
											class="identifier"
											:title="entity.id"
											>{{entity.id}}</span
										>
									</div>
								</li>
							</ul>
						</article>
					</div>
				</div>
				<div class="separator">
					<p>Required properties</p>
				</div>
				<div v-scope="AddProperties()" class="features-wrapper">
					<div
						class="feature-row"
						v-for="property in requiredProperties"
					>
						<p class="text-secondary">{{property}}</p>
						<button
							class="button btn-default"
							@click="addProperty(property)"
						>
							Add
						</button>
					</div>
					<div class="feature-row centered">
						<button class="button btn-commit" @click="resolveDOI">
							Resolve DOI
						</button>
					</div>
				</div>
				<div class="separator">
					<p>Custom properties</p>
				</div>
				<div v-scope="AddProperties()" class="features-wrapper">
					<div
						class="feature-row"
						v-for="property in customProperties"
					>
						<p class="text-secondary">{{property}}</p>
						<button
							class="button btn-default"
							@click="addProperty(property)"
						>
							Add
						</button>
					</div>
				</div>
			</section>
			<section v-scope="RefreshResource()">
				<div @vue:mounted="mounted" class="collapse">
					<div class="left">
						<svg
							viewBox="0 0 13 7"
							xmlns="http://www.w3.org/2000/svg"
						>
							<path
								d="M6.48522 6.43284C5.96146 6.43284 5.43771 6.23082 5.04115 5.83426L0.162739 0.955858C-0.0542463 0.738872 -0.0542463 0.379724 0.162739 0.162739C0.379724 -0.0542463 0.738873 -0.0542463 0.955858 0.162739L5.83427 5.04114C6.19342 5.40029 6.77703 5.40029 7.13618 5.04114L12.0146 0.162739C12.2316 -0.0542463 12.5907 -0.0542463 12.8077 0.162739C13.0247 0.379724 13.0247 0.738872 12.8077 0.955858L7.9293 5.83426C7.53274 6.23082 7.00898 6.43284 6.48522 6.43284Z"
							/>
						</svg>
						<p>Resources</p>
					</div>
					<p class="right">{{currentResourceID}}</p>
				</div>
				<div class="separator">
					<p>Resource information</p>
				</div>
				<div class="features-wrapper">
					<div class="feature-row">
						<p class="text-secondary">Value</p>
						<p class="highlighted" :title="currentResourceID">
							{{currentResourceID}}
						</p>
					</div>
					<div class="feature-row">
						<p class="text-secondary">Label</p>
						<p class="highlighted" :title="currentResourceLabel">
							{{currentResourceLabel}}
						</p>
					</div>
				</div>

				<div class="separator">
					<p>Search Resource</p>
				</div>
				<div class="features-wrapper" v-scope="SearchResource()">
					<div class="feature-row centered">
						<div class="input input-search">
							<input
								v-model="entity"
								@input="searchResults"
								type="text"
								placeholder="resource label"
							/>
							<svg
								viewBox="0 0 13 13"
								xmlns="http://www.w3.org/2000/svg"
							>
								<path
									d="M12.1383 10.8748L9.80143 8.53828C9.69595 8.43282 9.55297 8.37423 9.40296 8.37423H9.0209C9.66782 7.54697 10.0522 6.50644 10.0522 5.37452C10.0522 2.68182 7.87004 0.5 5.17687 0.5C2.4837 0.5 0.301514 2.68182 0.301514 5.37452C0.301514 8.06723 2.4837 10.249 5.17687 10.249C6.30898 10.249 7.34969 9.86471 8.17709 9.2179V9.59989C8.17709 9.74988 8.23569 9.89283 8.34116 9.99829L10.6781 12.3348C10.8984 12.5551 11.2547 12.5551 11.4726 12.3348L12.136 11.6716C12.3563 11.4513 12.3563 11.0951 12.1383 10.8748ZM5.17687 8.37423C3.51972 8.37423 2.17665 7.03374 2.17665 5.37452C2.17665 3.71765 3.51737 2.37482 5.17687 2.37482C6.83402 2.37482 8.17709 3.71531 8.17709 5.37452C8.17709 7.03139 6.83637 8.37423 5.17687 8.37423Z"
								/>
							</svg>
						</div>
					</div>
					<div
						v-if="entity!='' && resultsVisible"
						class="feature-row"
					>
						<article class="list list-default">
							<header>
								<h3>Search Result</h3>
								<span class="close-btn" @click="hideResults">
									<svg
										width="13"
										height="13"
										viewBox="0 0 13 13"
										xmlns="http://www.w3.org/2000/svg"
									>
										<line
											x1="1.03988"
											y1="11.9497"
											x2="11.6465"
											y2="1.34313"
										/>
										<line
											x1="1.74699"
											y1="1.34313"
											x2="12.3536"
											y2="11.9497"
										/>
									</svg>
								</span>
							</header>
							<hr />
							<ul>
								<li class="result">
									<div class="entity">
										<span class="label">Label</span>
										<span class="identifier"
											>Identifier</span
										>
									</div>
								</li>
								<li
									v-for="entity in entities"
									class="result data"
								>
									<div
										class="entity"
										:title="entity.description || 'no description'"
										@click="navigator.clipboard.writeText(entity.id)"
									>
										<span
											class="label"
											:title="entity.label"
											>{{entity.label}}
										</span>
										<span
											class="identifier"
											:title="entity.id"
											>{{entity.id}}</span
										>
									</div>
								</li>
							</ul>
						</article>
					</div>
				</div>
			</section>
			<section v-scope="LiteralsHandler()">
				<div class="collapse" @vue:mounted="mounted">
					<div class="left">
						<svg
							viewBox="0 0 13 7"
							xmlns="http://www.w3.org/2000/svg"
						>
							<path
								d="M6.48522 6.43284C5.96146 6.43284 5.43771 6.23082 5.04115 5.83426L0.162739 0.955858C-0.0542463 0.738872 -0.0542463 0.379724 0.162739 0.162739C0.379724 -0.0542463 0.738873 -0.0542463 0.955858 0.162739L5.83427 5.04114C6.19342 5.40029 6.77703 5.40029 7.13618 5.04114L12.0146 0.162739C12.2316 -0.0542463 12.5907 -0.0542463 12.8077 0.162739C13.0247 0.379724 13.0247 0.738872 12.8077 0.955858L7.9293 5.83426C7.53274 6.23082 7.00898 6.43284 6.48522 6.43284Z"
							/>
						</svg>
						<p>Data types</p>
					</div>
					<p class="right">Range <{{a1Notation}}></p>
				</div>
				<div class="separator">
					<p>Set Data type</p>
				</div>
				<div class="features-wrapper">
					<div class="feature-row">
						<p class="text-secondary">Data Range</p>
						<p class="highlighted">{{a1Notation}}</p>
					</div>
					<div class="feature-row">
						<p class="text-secondary">Data type</p>
						<select class="select" v-model="dataType">
							<option value="text">text</option>
							<option value="decimal">decimal</option>
							<option value="integer">integer</option>
							<option value="boolean">boolean</option>
							<option value="date">date</option>
							<option value="url">url</option>
						</select>
					</div>
					<div class="feature-row to-right">
						<button
							class="button btn-commit"
							@click="setDataType()"
						>
							Apply
						</button>
					</div>
				</div>
				<div class="separator">
					<p>Recommendation</p>
				</div>
				<div class="features-wrapper">
					<div class="feature-row">
						<p class="text-secondary">Data type</p>
						<p class="highlighted">{{recommendedDataType}}</p>
					</div>
					<div class="feature-row to-right">
						<button
							class="button btn-commit"
							@click="applyRecommendedType"
						>
							Apply
						</button>
					</div>
				</div>
			</section>
			<section v-scope="ValidationHandler()">
				<div class="collapse">
					<div class="left">
						<svg
							viewBox="0 0 13 7"
							xmlns="http://www.w3.org/2000/svg"
						>
							<path
								d="M6.48522 6.43284C5.96146 6.43284 5.43771 6.23082 5.04115 5.83426L0.162739 0.955858C-0.0542463 0.738872 -0.0542463 0.379724 0.162739 0.162739C0.379724 -0.0542463 0.738873 -0.0542463 0.955858 0.162739L5.83427 5.04114C6.19342 5.40029 6.77703 5.40029 7.13618 5.04114L12.0146 0.162739C12.2316 -0.0542463 12.5907 -0.0542463 12.8077 0.162739C13.0247 0.379724 13.0247 0.738872 12.8077 0.955858L7.9293 5.83426C7.53274 6.23082 7.00898 6.43284 6.48522 6.43284Z"
							/>
						</svg>
						<p>Validation</p>
					</div>
				</div>
				<div class="separator">
					<p>Validate</p>
				</div>
				<div class="features-wrapper">
					<div class="feature-row centered">
						<button
							class="button btn-commit"
							@click="triggerValidation()"
						>
							Start validation
						</button>
					</div>
					<div
						v-if="logs.length > 0 && resultsVisible"
						class="feature-row"
					>
						<article class="list list-dark">
							<header>
								<h3>Error Logs</h3>
								<span class="close-btn" @click="hideResults">
									<svg
										width="13"
										height="13"
										viewBox="0 0 13 13"
										xmlns="http://www.w3.org/2000/svg"
									>
										<line
											x1="1.03988"
											y1="11.9497"
											x2="11.6465"
											y2="1.34313"
										/>
										<line
											x1="1.74699"
											y1="1.34313"
											x2="12.3536"
											y2="11.9497"
										/>
									</svg>
								</span>
							</header>
							<hr />
							<ul>
								<li class="result">
									<div class="entity">
										<span class="label">Message</span>
										<span class="identifier">Range</span>
									</div>
								</li>
								<li v-for="log in logs" class="result">
									<div
										class="entity"
										:title="log.message"
										@click="navigator.clipboard.writeText(log.message)"
									>
										<span class="label"
											>{{log.message}}
										</span>
										<span class="identifier"
											>{{log.range}}</span
										>
									</div>
								</li>
							</ul>
						</article>
					</div>
				</div>

				<!-- <div class="separator">
					<p>Preview</p>
				</div> -->
				<div class="features-wrapper">
					<div class="feature-row centered">
						<button
							class="button btn-default"
							@click="cancelValidation()"
						>
							Terminate validation
						</button>
					</div>
				</div>
			</section>
		</div>
		<script type="module">
			import { createApp } from 'https://unpkg.com/petite-vue?module'
			let url = 'https://orkg.org'
			let googleRequestDelay = 1000

			function AddProperties() {
				return {
					requiredProperties: ['paper:title', 'paper:doi'],
					customProperties: [
						'paper:authors',
						'paper:publication_month',
						'paper:publication_year',
						'paper:research_field',
						'paper:url',
						'paper:published_in',
						'contribution:research_problem'
					],
					addProperty(property) {
						google.script.run
							.withSuccessHandler((val) => {})
							.withFailureHandler((e) => console.log(e))
							.insertProperty(property)
					},
					resolveDOI() {
						google.script.run
							.withSuccessHandler((val) => {})
							.withFailureHandler((e) => console.log(e))
							.resolveDOI()
					}
				}
			}

			function RefreshProperty() {
				return {
					currentPropertyID: '-',
					currentPropertyLabel: '-',
					fetchCurrentProperty() {
						google.script.run
							.withSuccessHandler(
								function (value) {
									this.currentPropertyID = value?.id
									this.currentPropertyLabel = value?.label
									setTimeout(
										this.fetchCurrentProperty.bind(this),
										googleRequestDelay
									)
								}.bind(this)
							)
							.getCurrentProperty()
					},
					mounted() {
						this.fetchCurrentProperty()
					}
				}
			}

			function RefreshResource() {
				return {
					currentResourceID: '-',
					currentResourceLabel: '-',
					fetchCurrentResource() {
						google.script.run
							.withSuccessHandler(
								function (value) {
									this.currentResourceID = value?.id
									this.currentResourceLabel = value?.label
									setTimeout(
										this.fetchCurrentResource.bind(this),
										googleRequestDelay
									)
								}.bind(this)
							)
							.getCurrentResource()
					},
					mounted() {
						this.fetchCurrentResource()
					}
				}
			}

			function LiteralsHandler() {
				return {
					a1Notation: '-',
					dataType: 'text',
					recommendedDataType: '-',
					fetchCurrentRange() {
						google.script.run
							.withSuccessHandler(
								function (value) {
									this.a1Notation = value
									setTimeout(
										this.fetchCurrentRange.bind(this),
										googleRequestDelay
									)
								}.bind(this)
							)
							.withFailureHandler((e) => console.log(e))
							.getCurrentRange()
					},
					fetchRecommendedDataType() {
						google.script.run
							.withSuccessHandler(
								function (value) {
									this.recommendedDataType = value
									setTimeout(
										this.fetchRecommendedDataType.bind(
											this
										),
										googleRequestDelay
									)
								}.bind(this)
							)
							.withFailureHandler((e) => console.log(e))
							.fetchRecommendedDataType()
					},
					setDataType() {
						google.script.run
							.withFailureHandler((e) => console.log(e))
							.setDataType(this.dataType)
					},
					applyRecommendedType() {
						google.script.run
							.withFailureHandler((e) => console.log(e))
							.setDataType(this.recommendedDataType)
					},
					mounted() {
						this.fetchCurrentRange()
						this.fetchRecommendedDataType()
					}
				}
			}

			function SearchProperty() {
				return {
					entity: '',
					entities: [],
					resultsVisible: false,
					hideResults() {
						setTimeout(
							function () {
								;(this.resultsVisible = false),
									(this.entity = '')
							}.bind(this),
							50
						)
					},
					async searchResults() {
						this.resultsVisible = true
						// let response = await fetch(`${url}/api/predicates/?q=${this.entity}&exact=true`)
						let response = await fetch(
							`${url}/api/predicates/?q=${this.entity}`
						)
						let data = await response.json()
						this.entities = data.content
					}
				}
			}

			function SearchResource() {
				return {
					entity: '',
					entities: [],
					resultsVisible: false,
					hideResults() {
						setTimeout(
							function () {
								;(this.resultsVisible = false),
									(this.entity = '')
							}.bind(this),
							50
						)
					},
					async searchResults() {
						this.resultsVisible = true
						// let response = await fetch(`${url}/api/resources/?q=${this.entity}&exact=true`)
						let response = await fetch(
							`${url}/api/resources/?q=${this.entity}`
						)
						let data = await response.json()
						this.entities = data.content
					}
				}
			}

			function ValidationHandler() {
				return {
					logs: [],
					resultsVisible: true,
					hideResults() {
						setTimeout(
							function () {
								this.resultsVisible = false
								this.logs = []
							}.bind(this),
							50
						)
					},
					triggerValidation() {
						google.script.run
							.withSuccessHandler(
								((errorLogs) => {
									this.logs = errorLogs
									if (this.logs.length > 0)
										this.resultsVisible = true
								}).bind(this)
							)
							.withFailureHandler((e) => console.log(e))
							.startValidation()
					},
					cancelValidation() {
						google.script.run
							.withSuccessHandler(
								((errorLogs) => {
									this.logs = []
									this.resultsVisible = false
								}).bind(this)
							)
							.withFailureHandler((e) => console.log(e))
							.cancelValidation()
					}
				}
			}

			createApp({
				AddProperties,
				RefreshProperty,
				RefreshResource,
				SearchProperty,
				SearchResource,
				LiteralsHandler,
				ValidationHandler
			}).mount()
		</script>
	</body>
</html>
